.container{
    margin-bottom: 30px;
}
.logo{
    width: 200px;
}
.col-md-6 img{
    width: 400px;
}
.orange-bg{
    background-color: #F0FFF0;
}
.orange-bg h6{
    color: red;
}
.orange-bg span{
    color: #21B573;
}
.orange-bg p{
    color: gray;
}
.button{
    background-color: #21B573;
    border: none;
    padding: 12px 36px;
    border-radius: 33px;
    color: #fff;
    font-weight: 500;
}
.col-md-3 img{
    width: 100px;
}
.cat1,.cat2,.cat3,.cat4{
    background-color: #F0FFF0;
    text-align: center;
    height: 230px;
    padding: 30px;
}
.cat2 {
    box-shadow: 10px 10px 10px lightgray;

}
.col-md-3 h6{
    color: lightslategray;
    font-size: 12px;
}
.card-footer img{
    width: 30px;
}
#cources h1{
    text-align: center;
}
.card{
    box-shadow: 10px 10px 10px;
    border: none;
}

#footer-bg{
    border-top: none;
    background-color: #fff;
}
#footer-bg2{
    border-top: none;
    background-color: #fff;
}
#footer-bg3{
    border-top: none;
    background-color: #fff;
}
#other{
    text-align: center;
}
#other img{
    width: 100px;
}
#other{
    height: 400px;
    position: relative;
}
.child{
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#footer{
    background-color: rgb(27, 20, 20);
    color: #fff;
    padding: 30px;
}
#footer h2{
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

